@page "/AdminPage"
@using Microsoft.JSInterop.WebAssembly
@attribute [Authorize(Roles = "0,1,2")]
<style>
    body {
        background-color: black;
        opacity: 0.8;
    }

    .custom-elevation {
        box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.75);
    }

    .custom-paper {
        background-color: #651FFF;
        color: white;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Add 3D box-shadow effect */
    }

    .custom-subheader {
        color: white; /* Set your desired text color */
        font-size: 20px;
    }
</style>

<AuthorizeView Roles="0,1,2">
    <Authorized>
        <MudThemeProvider />
        <div class="body">
            <MudLayout style="background-color: #212121; color: white;" Elevation="5">
                <Drawer></Drawer>
                <MudMainContent style="background-color: black; color: white;" Elevation="5">
                    <div style="height: 16px;"></div>
                    <MudText Typo="Typo.h4" Class="ml-3">Ուսումնական պլան</MudText>
                    <MudDropContainer T="DropItem" Items="_items" ItemsSelector="@((item,dropzone) => item.Selector == dropzone)"
                                      ItemDropped="ItemUpdated" Class="d-flex flex-wrap flex-grow-1">
                        <ChildContent>
                            @for (int i = 1; i < 9; i++)
                            {
                                var dropzone = i.ToString();
                                <MudPaper Class="ma-4 flex-grow-1 custom-paper" style="background-color: rgba(89,74,226,1); color: white;">
                                    <MudList Clickable="true" Class="d-flex flex-column mud-height-full">
                                        <MudListSubheader class="custom-subheader">Կիսամյակ @dropzone</MudListSubheader>
                                        <MudDropZone T="DropItem" Identifier="@dropzone" Class="flex-grow-1" AllowReorder="true" />
                                    </MudList>
                                </MudPaper>
                            }
                        </ChildContent>
                        @* <ItemRenderer> *@
                        @*     <MudListItem Text="@context.Name" /> *@
                        @* </ItemRenderer> *@
                    </MudDropContainer>
                </MudMainContent>
            </MudLayout>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private void ItemUpdated(MudItemDropInfo<DropItem> dropItem)
    {
        dropItem.Item.Selector = dropItem.DropzoneIdentifier;
    }

    private List<DropItem> _items = new()
    {
        new DropItem(){ Name = "Subject 1", Selector = "1" },
        new DropItem(){ Name = "Subject 2", Selector = "1" },
        new DropItem(){ Name = "Subject 3", Selector = "1" },
        new DropItem(){ Name = "Subject 4", Selector = "1" },
        new DropItem(){ Name = "Subject 5", Selector = "1" },
    };

    public class DropItem
    {
        public string Name { get; init; }
        public string Selector { get; set; }
    }
}